@font-face {
    font-family: 'Jojoba';
    src: 
        local('Jojoba'),
        url('./fonts/Jojoba.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'mini wakuwaku';
    src: 
        local('mini wakuwaku'),
        url('./fonts/mini-wakuwaku.otf') format('opentype');
    font-weight: normal;
}

/* vertical format */

html {
    font-family: 'Jojoba', Arial, system-ui;
    line-height: 1.5;
    font-synthesis: weight;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    image-rendering: pixelated;

    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(148, 232, 244);
    color: rgb(30, 44, 149);

    font-size: 16px;
}

hr {
    border: 1px solid rgb(255, 220, 80);
    border-radius: 8px;
}

a {
    color: #f1760b;
}

a:hover {
    color: #f79941;
}

a:active {
    color: #a04905;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'mini wakuwaku', Arial, system-ui;
}

/* pagination */

.spacer {
    padding-right:10px; 
}

.unactive-link {
    color: rgb(177, 86, 6);
    cursor: default;
}

.active-link {
    text-decoration: underline;
    cursor: pointer;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-grow: 1;
    /* color: rgb(241, 118, 11); */
    color: #ff6f00;
}

/* color divider */

.img-border {
    content: url(/data/decor/border_mobile.png);
    width: 100%;
}

/* error */

.error-button {
    font-family: 'Jojoba', Arial, system-ui;
    color:#f1760b;/* rgb(30, 44, 149);*/
    background-color:rgb(255, 220, 80);
    border: 2px solid #f1760b;
    border-radius: 8px;
}

/* Topbar */

.topbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-top: 10px;
}

.topbar-link-holder {
    display: inline-block;
}

.topbar-link {
    color: rgb(30, 44, 149);
}

.topbar-link-spacer {
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    height: 16px;
    width: 16px;
    object-fit: contain;
    /* content: url("./data/decor/spacing_clover.jpg"); */
}

.logo {
    vertical-align: middle;
    height: 32px;
    object-fit: contain;
}

/* header in topbar */

.header-title {
    display:inline-block;
    vertical-align: middle;
    -webkit-text-stroke: 5px rgb(30, 44, 149);
    paint-order: stroke;
    color: white;
    text-shadow: 5px 4px rgba(106, 0, 255, 0.194);
    cursor: default;
}

.header-image {
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    object-fit: contain;
    /* content: url('./data/decor/jennydevs_header_image.jpg'); */
}

/* main content area */

.container {
    background-color:white;
    max-width: 50em;
    margin: auto;
    border-radius: 8px;
}

.content {
    margin: auto 10px;
    padding: 20px;
    background-color:rgb(255,252,178);
    border-radius: 8px;
}

/* content chunk */

.half-block {
    text-align: center;
}


/* footer */

footer {
    text-align: center;
    background-color: rgb(255, 220, 80);
    padding: 10px;
    border-top: 10px solid white;
}

/* between logo and link */

.logo-link {
    vertical-align: sub;
    padding-right: 3px;
}


/* logs */

.log {
    margin: auto;
    max-width: 47rem;
}

.log-summary {
    padding: 10px 0 0 0;
}


/* projects */

.row {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    row-gap: 20px;
}

.column {
    display: flex;
    flex-direction:column;
    align-content: center;
}

.centered-project-box {
    display: flex;
    flex-direction: column;
    min-width: 0; /* stays within bounds of box */
    text-align: center;
    border: 5px solid rgb(255, 220, 80);
    border-radius: 8px;
}

/* above is suited for mobile viewing (vertical) */
/* landscape format */

@media screen and (min-width: 50em) {
    /* topbar */

    .topbar {
        flex-direction: row;
        justify-content: space-between;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .topbar-header {
        padding-left: 50px;
    }

    .topbar-links {
        align-self: flex-end;
        padding-right: 50px;
    }

    .topbar-link-list {
        padding-left: 0;
    }
    
    .topbar-social-link-list {
        text-align: right;
    }

    /* footer */

    footer {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    /* main content */

    .content {
        margin: auto 50px;
        padding: 20px 20px 20px 20px;
    }

    .half-block {
        display: block;
        width: 50%;
    }

    /* color divider */

    .img-border {
        content: url(/data/decor/border_rounded.png);
    }

    /* projects */

    .row {
        flex-direction: row;
        align-content: space-evenly;
        column-gap: 20px;
    }

    .column {
        flex: 1 1 auto;
        align-content: auto;
    }

    .centered-project-box {
        inline-size: 33%;

        flex: auto;
        align-self: center;
    }
}